version: '3.9'

services:
  #Python FastAPI Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: mini-blog-api
    container_name: mini-blog-container_name
    command: uvicorn mini_blog_api.main:app --factory --host 0.0.0.0 --port 8000
    volumes:
      - ./src:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - app-network
  
  #MongoDB Service
  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge

#Volumes
volumes:
  db_data:
    driver: local